.signupWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupCard{
    margin-top: 5%;
    width:27vw;
   
}
.card-logo{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card-logo img{
    width:100%;
    margin-top: 2%;
}
.bgImg{
    /* background-color: aqua; */
    height: 590px;
    margin-top: 5%;
    width: 441px;
    background: url('../Assets/insta.png');
    background-size: cover;
    position: relative;
}
.moveImg{
    position: absolute;
    left: 144px;
    top: 93px;
    height: 423px;
    width: 241px;
    background-size: cover;

}
.insideImg{
    position: absolute;
    left:0px;
    top: 0px;
    background-size: cover;
    height: 423px;
    width: 241px;
}